* {
  direction: rtl;
}

/* Styleing navbar */
header {
  width: 100%;
  height: 25vb;
  background-color: white;
  position: fixed;
  top: 0px;
  font-size: 18px;
  display: flex;
  justify-content: space-around;
  box-shadow: 5px 5px 15px gray;
  z-index: 3;
}
header img {
  width: 250px;
  margin-left: 60px;
}
header .navStyle a {
  margin-left: 5px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}
header .navStyle a:hover {
  text-decoration: underline;
  color: #02598B;
}
header .navStyle .on {
  text-decoration: underline;
  color: #02598B;
}
header .navStyle button {
  margin-right: 15px;
  border-radius: 5px;
  width: 150px;
  padding: 10px;
  border: none;
  background-color: #02598B;
  color: white;
}
header .navStyle img {
  width: 60px;
}

/*styleing div1 */
.div1 {
  position: relative;
  top: 200px;
  display: flex;
  width: 95%;
  margin-right: 40px;
}
.div1 div {
  width: 15%;
  padding: 0px;
  margin-right: 10px;
}
.div1 div img {
  width: 100%;
  border-radius: 48%;
}
.div1 #d1 {
  border: 2px dashed #02598B;
}

.div2 {
  position: relative;
  top: 200px;
  display: flex;
  width: 100%;
  padding: 20px;
  font-weight: bold;
  font-size: 16px;
}
.div2 .info, .div2 .im {
  width: 50%;
}
.div2 .info .img1, .div2 .im .img1 {
  width: 35%;
  height: 25%;
  margin-top: 30px;
  margin-bottom: 20px;
}
.div2 .im img {
  width: 100%;
  margin-top: 60px;
  margin-bottom: 100px;
}
.div2 .info img {
  width: 80%;
  margin-right: 30px;
  margin-top: 40px;
}
.div2 .info .h41 {
  text-align: left;
  margin-top: 80px;
  margin-left: 20px;
}
.div2 p {
  width: 85%;
}
.div2 span {
  color: #02598B;
}
.div2 h4, .div2 h5 {
  color: #02598B;
  font-weight: bold;
}
.div2 ul li {
  font-size: 16px;
}

/*style div4*/
.div4 {
  position: relative;
  top: 200px;
}
.div4 > div {
  font-weight: bold;
  margin: 40px 60px;
}
.div4 form {
  width: 50%;
  margin-right: 50px;
  padding: 5px;
}
.div4 form .btn {
  background-color: #026a90;
  width: 150px;
  color: white;
}
.div4 form > div {
  display: flex;
}
.div4 form > div > div {
  width: 50%;
}
.div4 form > div span {
  margin-right: 30px;
}

/*style footer*/
footer {
  position: relative;
  top: 230px;
  background-color: black;
  color: #c8c2c5;
}
footer .container {
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}
footer .container .col1 {
  width: 32%;
}
footer .container .col1 img {
  width: 190px;
}
footer .container .col1 div a {
  text-decoration: none;
}
footer .container .col1 div img {
  margin-right: 10px;
  width: 30px;
}
footer .container .col2, footer .container .col4 {
  margin-right: 20px;
  width: 32%;
}
footer .container .col2 h2, footer .container .col4 h2 {
  margin-top: 80px;
  width: 250px;
  padding-bottom: 10px;
  border-bottom: 3px solid #02598B;
}
footer .container .col2 ul, footer .container .col4 ul {
  margin-top: 50px;
  list-style-type: none;
}
footer .container .col2 ul a, footer .container .col4 ul a {
  text-decoration: none;
  color: gray;
}
footer .container .col2 ul a:hover, footer .container .col4 ul a:hover {
  text-decoration: underline;
  color: white;
}
footer .container .col4 ul > li > span {
  color: #02598B;
}
@media (max-width: 767px) {
  footer {
    top: 900px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  footer {
    top: 300px;
  }
}

/*# sourceMappingURL=health.css.map */
